/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;

}


body {
  background-color: white;
}

.contenedor {
  display: grid;
  font-family: "Montserrat";
  grid-template-columns: 1fr 1fr 1fr 1fr 113px;
  grid-template-rows: 150px auto 1fr 80px;
  width: 100%;

  grid-template-areas: "header header header header header"
  "slider slider slider slider slider"
  "main-content main-content main-content aside aside"
  "pie pie pie pie pie";
}


.header {
  grid-area: header;
  border-top: 5px solid #2a9d8f;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  margin-top: 37px;
  width: 70px;
  height: 70px;
  animation: girar infinite 30s linear;

}

@keyframes girar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.logo .brand {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 29px;
  letter-spacing: 2px;
}

.menu {
  width: 30%;
}

.menu > ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  line-height: 143px;
}

.menu ul li {
  text-decoration: none;
}
.menu ul li a {
  text-decoration: none;
  font-family: "Roboto";
  letter-spacing: 1px;
  color: #444;
  font-size: 18px;
}

.menu ul li a:hover {
  color: #2a9d8f;
}

.slider{ 
  grid-area: slider;
  height: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* line-height: 370px; */
  background: rgb(42,140,128);
background: linear-gradient(270deg, rgba(42,140,128,1) 27%, rgba(40,151,137,1) 35%, rgba(38,141,129,1) 43%, rgba(40,150,136,1) 58%, rgba(39,154,140,1) 65%, rgba(41,144,131,1) 77%);
  
}

#big {
  height: 370px;
}


#small {
  height: 140px;
  
}


.slider h1{
  color: white;
  letter-spacing: 2px;
  font-size: 34px;
  text-shadow: 0px 0px 5px #444;
}
.slider .boton-blog {
  margin-top : 20px;
  width: 146px;
  color:rgb(88, 88, 88);
  text-align: center;
  border: 1px solid #444;
  background-color: white;
  text-transform: uppercase;
  padding: 18px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  transition: 300ms all;

}

.slider .boton-blog:hover {
  background-color: #444;
  color: white;
}

.main-content {
  grid-area: main-content;
  display: flex;
  flex-direction: row;
  margin-top: 40px;


}
.last-articles{
  font-size: 37px;
  border-bottom: 3px solid #cccccc75;
  margin-bottom: 20px;
  padding-bottom: 13px;
  /* width: 81%; */
  text-align: center;
}

.title-top {
  font-size: 37px;
  border-bottom: 3px solid #cccccc75;
  margin-bottom: 20px;
  padding-bottom: 13px;
  /* width: 81%; */
  text-align: center;
}
.contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.contenido article{
  display: flex;
  padding-top: 19px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
  width: 86%;
  margin-bottom: 15px;
}

.contenido .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}


.contenido .info h3{
  font-size: 25px;
  align-self: flex-start;
}

.contenido .info .hace {
  color: rgb(122, 122, 122);
  font-size: 14px;
}


.contenido .info a {
  text-decoration: none;
  color: #444;
}

.contenido .info a:hover{
  text-decoration: underline;
}

.main-content .img-wrap{
  width: 272px;
  height: 141px;
  border: 1px solid #ccc;
}

.main-content .img-wrap img {
  width: 100%;
  height: 160px;
}

.aside {
  margin-top: 40px;
 
}

.aside .side-box{
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding:26px;
}

.aside .side-box .title-aside{
  font-size: 19px;
  text-align: center;
  border-bottom: 3px solid #cccccc75;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.aside .side-box .boton-crear {
  width: 66%;
  margin-top: 20px;
  padding: 20px;
  background-color: #06971d;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms all;
  border: none;
  align-self: center;
  text-decoration: none;
  text-align: center;
}

.aside .side-box .boton-crear:hover {
  background-color:#444;
}

.form-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding:26px;
}

.form-box h3{
  font-size: 19px;
  text-align: center;
  border-bottom: 3px solid #cccccc75;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.form-box .searchForm {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
}

.form-box .searchForm h4{
  font-size: 17px;
  /* font-weight: lighter; */
  text-align: center;
  letter-spacing: 1px;
}


input[type='text'], .form-content {
  margin-top: 22px;
  padding: 8px;
  border: 1px solid #ccc;
}

input[type='text']:focus {
  box-shadow: inset 0px 0px 0.2px #444;
}

.form-box .searchForm .boton-buscar {
  width: 44%;
  margin-top: 20px;
  padding: 13px;
  background-color: #000;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms all;
  border: none;
  align-self: center;
  transition: 300ms all;
}

.form-box .searchForm .boton-buscar:hover {
  background-color: #444;
}

.pie {
  grid-area: pie;
  margin-top: 20px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contenido form {
  display: flex;
  padding: 70px;
  flex-direction: column;
  background-color: #f7f7f7;
}

.contenido form label {
margin-top: 17px;
text-align: center;
font-size: 20px;
margin-bottom: 1px;
}


.contenido form 
input[type='text'], input[type='file'] {
  margin-top: 15px;
}


.contenido form .boton-crear {
  width: 44%;
  margin-top: 40px;
  padding: 13px;
  background-color: #000;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms all;
  border: none;
  align-self: center;
  transition: 300ms all;
}

.contenido form .boton-crear:hover {
  background-color: #444;
}

.selected {
  color: #2a9d8f !important;
}



.single-blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-content: center;
  width: 100%; 
}


.img-blog {
  width: 575px;
}

.img-blog img {
  width: 100%;
}

.info-blog {
display: flex;
flex-direction: column;
width: 61%;
}

.info-blog h3 {
align-self: center;
border-bottom: 3px solid #cccccc75;
font-size: 27px;
margin-top: 13px;
}

.info-blog p {
margin-top: 9px;
font-size: 15px;
font-weight: normal;
/* font-family: san-serif; */
color: rgb(47, 44, 44);
}


.info-blog .hace {
  margin-top: 10px;
  color: rgb(122, 122, 122);
}


.botones {
display: flex;
justify-content: space-evenly;
margin-top: 21px;
}

.btn-editar {
  width: 25%;
  margin-top: 20px;
  padding: 13px;
  background-color: #ce6b22 !important;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms all;
  border: none;
  align-self: center;
  transition: 300ms all;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
}

.btn-editar:hover {
  background-color: #444 !important;
  text-decoration: none;
  color: #fff;
}

.btn-borrar {
  width: 25%;
  margin-top: 20px;
  padding: 13px;
  background-color: #c82a2a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms all;
  border: none;
  align-self: center;
  transition: 300ms all;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
}

.btn-borrar:hover {
  background-color: #444 ;
}


.srv-validation-message{
  margin-top: 2px;
  text-align: center;
  color: #c82a2a;
}


.paginacion{
  align-self: center;
}

.img-edit {
  width: 260px;
  align-self: center;
}

.img-edit .thumb {
  width: 100%;
}



@media (max-width: 848px ){
  .contenedor {
    grid-template-rows: 150px auto 1fr auto 100px;
    grid-template-areas: "header header header header header"
    "slider slider slider slider slider" 
    "main-content main-content main-content main-content main-content" 
    "aside aside aside aside aside" 
    "pie pie pie pie pie";
  }
  .header {

    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .menu > ul {
    line-height: 0px;
    justify-content: space-evenly;
  }

  .logo {
    align-self: center;
    margin-top: 8px;
  }

  .logo img {
    margin-top: 0px;
  }
  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aside .side-box {
    width: 60%;
    align-self: center;
  }

  .form-box {
    width: 60%;
    align-self: center;
  }

  .aside .side-box .boton-crear {
    width: 40%;
  }

  .pie {
    margin-top: 40px;
  }
}


@media (max-width: 550px) {
  .slider h1 {
    font-size: 24px;
  }

  #big {
    height: 260px;
  }

  .slider .boton-blog {
    width: 125px;
    font-size: 11px;
  }

  .last-articles {
    font-size: 30px;
  }

  /* .contenido article {
    justify-content: space-between;
  } */

  .contenido .info h3 {
    font-size: 19px;
  }

  .main-content .img-wrap {
    width: 65%;
  }

  .contenido .info {
    width: 35%;
  }

  .aside .side-box .boton-crear {
    width: 56%;
    font-size: 15px;
  }

  .last-articles {
    font-size: 24px;
  }

  .contenido form{
    padding: 16px;
  }

  .contenido form input[type="text"], input[type="file"]{
    margin-top: 0px;
  }

  input[type="text"], .form-content {
    padding: 4px;
    margin-top: 0px;
  }

  .contenido form label {
    margin-top: 12px;
  }

  .contenido form label {
    font-size: 17px;
  }
  .contenido form .boton-crear {
    width: 31%;
    padding: 11px;
    font-size: 16px;
  }
  .title-top {
    font-size: 27px;
  }

  .img-blog {
    width: 450px;
  }

  .info-blog {
    width: 80%;
  }

}

@media (max-width: 380px) {
  .menu ul li {
    margin-left: 25px;
    margin-top: 26px;
  }
  .slider h1 {
    font-size: 14px;
  }

  .slider .boton-blog {
    padding: 12px;
  }

  .aside .side-box .title-aside {
    font-size: 14px;
  }

  .aside .side-box .boton-crear {
    width: 77%;
    font-size: 12px;
  }
  .aside .side-box {
    width: 90%;
  }

  .form-box {
    width: 90%;
  }

  .form-box h3 {
    font-size: 15px;
  }

  .form-box .searchForm h4 {
    font-size: 13px;
  }

  .form-box .searchForm .boton-buscar {
    font-size: 13px;
  }

  .img-blog {
    width: 300px;
  }

  .info-blog {
    width: 82%;
  }

  .btn-editar {
    font-size: 13px;
  }
  .btn-borrar {
    font-size: 13px;
  }

  .last-articles {
    font-size: 18px;
  }

  .contenido form label {
    font-size: 15px;
  }

  .contenido form {
    width: 90%;
    padding: 17px;
  }

  .contenido form input[type="text"], input[type="file"] {
    width: 80%;
    align-self: center;
  }

  input[type="text"], .form-content {
    width: 80%;
    align-self: center;
  }
}
